.git
.github
.venv
venv
env
__pycache__
.pytest_cache
.ruff_cache
.mypy_cache
build
dist
release
*.spec
*.egg-info
.eggs
*.pyc
.DS_Store
.idea
.vscode
tests
examples
scripts
Makefile
ROADMAP.md
*.md
!README.md
